<div>
  <section class="flex flex-col">
    <div class="flex justify-between">
      <div class="flex gap-4 w-full text-xs text-center mb-4">
        <div>
          <p>Repos</p>
          <p class="text-sm font-bold">{{this.model.public_repos}}</p>
        </div>
        <div>
          <p>Gists</p>
          <p class="text-sm font-bold">{{this.model.public_gists}}</p>
        </div>
        <div>
          <p>Seguidores</p>
          <p class="text-sm font-bold">{{this.model.followers}}</p>
        </div>
        <div>
          <p>Seguindo</p>
          <p class="text-sm font-bold">{{this.model.following}}</p>
        </div>
      </div>

      <aside class="flex md:gap-2">
        <a href={{this.model.twitter_username}} target="blank" title={{this.model.twitter_username}} class="p-2">
          <FaIcon @icon="twitter" @prefix="fab" class="text-xl" />
        </a>
        <a href={{this.model.blog}} target="blank" title={{this.user}} class="p-2">
          <FaIcon @icon="desktop" class="text-xl" />
        </a>
        <a href={{concat "mailto:" this.model.email}} target="blank" title={{this.model.email}} class="p-2">
          <FaIcon @icon="envelope" class="text-xl" />
        </a>
      </aside>
    </div>

    <div class="flex flex-col sm:flex-row items-center gap-2 p-4 border rounded mb-4">
      <div
        class="flex-shrink-0 h-20 md:h-32 w-20 md:w-32 rounded-full overflow-hidden flex items-center justify-center border-2 md:border-4 border-gray-300 {{if this.model.hireable "
        border-green-500"}}">
        <img src={{this.model.avatar_url}} alt={{this.model.name}}>
      </div>

      <div class="flex flex-col w-full px-4">
        <header class="flex flex-col items-center sm:items-baseline">
          <h1 class="inline-flex items-center text-primary text-2xl antialiased font-semibold tracking-wide">
            {{#if this.model.site_admin}}
            <FaIcon @icon="user-shield" class="text-xl text-yellow-400 mr-2" />
            {{/if}}
            {{this.model.name}}
          </h1>

          <small class="text-gray-500">
            <FaIcon @icon="map-marker-alt" />
            {{this.model.location}}
          </small>

          <p class="italic mt-2">
            {{this.model.bio}}
          </p>
        </header>

        <footer class="flex justify-between w-full text-gray-500 mt-2">
          <a href={{this.model.html_url}} target="blank" title={{this.user}} class="leading-none">
            <small>
              <FaIcon @icon="github" @prefix="fab" />
              Criação: {{moment-calendar this.model.created_at}}
            </small>
          </a>
          <small>
            <FaIcon @icon="user-edit" />
            Última atualização: {{moment-to this.model.updated_at}}
          </small>
        </footer>
      </div>

    </div>
  </section>
</div>