<p>login: {{this.model.login}}</p>
<p>id: {{this.model.id}}</p>
<p>node_id: {{this.model.node_id}}</p>
<p>avatar_url: {{this.model.avatar_url}}</p>
<p>url: {{this.model.url}}</p>
<p>html_url: {{this.model.html_url}}</p>
<p>followers_url: {{this.model.followers_url}}</p>
<p>following_url: {{this.model.following_url}}</p>
<p>gists_url: {{this.model.gists_url}}</p>
<p>starred_url: {{this.model.starred_url}}</p>
<p>subscriptions_url: {{this.model.subscriptions_url}}</p>
<p>organizations_url: {{this.model.organizations_url}}</p>
<p>repos_url: {{this.model.repos_url}}</p>
<p>events_url: {{this.model.events_url}}</p>
<p>received_events_url: {{this.model.received_events_url}}</p>
<p>type: {{this.model.type}}</p>
<p>site_admin: {{this.model.site_admin}}</p>
<p>company: {{this.model.company}}</p>
<p>blog: {{this.model.blog}}</p>
<p>location: {{this.model.location}}</p>
<p>email: {{this.model.email}}</p>
<p>hireable: {{this.model.hireable}}</p>
<p>bio: {{this.model.bio}}</p>
<p>twitter_username: {{this.model.twitter_username}}</p>
<p>public_repos: {{this.model.public_repos}}</p>
<p>public_gists: {{this.model.public_gists}}</p>
<p>followers: {{this.model.followers}}</p>
<p>following: {{this.model.following}}</p>
<p>created_at: {{this.model.created_at}}</p>
<p>updated_at: {{this.model.updated_at}}</p>